body {
    background: #ebedf0;
    /*other github colors: #c6e48b, #7bc96f, #239a3b, #196127 */

}

.App {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('./media/github-logo.svg');
    height: 600px;

}

.app-content {
    margin: 50px;
    padding: 30px 0;
    background: #ebedf080;
    height: 620px;
    width: 620px;
    border: 30px solid green;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: auto;
}

div.Streak {
    width: 75%;
    margin: auto;
}

/*
div>h1 {
    opacity: 1.0;
}
*/